---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>POO</h2>
		<p>Bien que je sache développer et coder sous différents langages via différentes méthodes, la programmation orientée Objet reste l'une de mes spécialités.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Créatif</h2>
		<p>Je travaille principalement en back-end, mais je sais parfaitement me débrouiller en front-end également et garantir une infographie cohérente.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="microphone-stage" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Analyse et communication</h2>
		<p>Je suis capable de m'entretenir avec un client pour l'aider à identifier un cahier des charges, mais aussi les problèmes qui pourraient être rencontrés.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
